.idea/
__pycache__/
app/__pycache__/
Common/__pycache__/
config/__pycache__/
run/__pycache__/
shishiPages/__pycache__/
testCase_datas/__pycache__/
testCase_shishike/__pycache__/
testCase_xueqiu/__pycache__/
tool/__pycache__/
xuqiuPages/__pycache__/
app/
config/
venv/
report/
*.html
*.pyc
*.log
./pytest_appiumDemo.sublime-project
./pytest_appiumDemo.sublime-workspace
